@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

p{
    font-size: 1.6rem;
}

a{
    font-size: 1.6rem;
}

input{
    font-size: 1.6rem;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.6rem;
}

label{
    font-size: 1.6rem;
}
/* Header section */

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #95a5a6;
    overflow: hidden;
    margin-top: 0;
}

header img{
    margin-left: 3rem;
}


header h1{
    color: #2c3e50;
}

nav{
    margin-left: auto;
    display: block;
    height: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    /* border-right: solid 1px #2c3e50; */
}


nav ul li a{
    display: inline-block;
    padding: 3.5rem 1.5rem;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    transition: .3s ease;
}

nav ul li a:hover{
    height: 100%;
    background-color: #bdc3c7;
    transition: .3s ease;
}

header form {
    margin-left: 2rem;
    margin-right: 2rem;
}

.search-input{
    height: 3rem;
    padding: .3rem;
    border-radius: .5rem;
    border: .1rem solid transparent;
}

.search-input:hover{
    border: solid .1rem #2c3e50;
    transition: .3s ease;
}

.search-button{
    height: 3rem;
    padding: .3rem;
    border-radius: .5rem;
    border: none;
    background: none;
    color: white;
}

.search-button:hover{
    background-color: #bdc3c7;
    color: #2c3e50;
    transition: .3s ease;
}

/* Main content */

main{
    display: flex;
    padding: .5rem 3rem;
}

.main-container {
    margin: .5rem;
    /* width: 75%; */
    flex-grow: 2;
}

.main-container section{
    padding: 1rem;
    border-bottom: solid #2c3e50;
}

.main-container section article{
    padding: .5rem;
    background-color: #bdc3c7;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    /* padding-bottom: 20px; */
}

.main-container section article h3{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 2rem;
}

.main-container section article p{
    padding: 1rem 2rem;
}

.video-content {
    padding: .5rem;
    display: block;
}

.main-container section article img{
    padding: .5rem;
    margin-bottom: 1rem;
    /* width: 70%; */
    max-height: 60rem;
    display: block;
}

.main-container section article a{
    display: inline-block;
    margin-left: auto;
    padding: 1.5rem;
    text-decoration: none;
    color: #ecf0f1;
    background-color: #2c3e50;
    border-radius: .5rem;
    transition: .3s ease;
}

.main-container section article a:hover{
    background-color: #4e6d8d;
    transition: .3s ease;
}

.readmorediv{
    display: flex;
}

/* aside content */

aside {
    margin: .5rem;
    min-width: 20rem;
    /* width: 25%; */
    background-color: #2c3e50;
    flex-grow: 1;
    padding: .5rem;
    justify-content: center;
    text-align: center;
    color: #ecf0f1;
    border-radius: 1rem;
}

aside ul {
    text-align: start;
    list-style: none;
}

aside ul li{
    /* padding: 10px 3px; */
}

aside ul li a{
    display: inline-block;
    padding: 1rem .3rem;
    text-decoration: none;
    color: #ecf0f1;
}


/* footer */

footer{
    background-color: #95a5a6;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
}

footer button{
    cursor: pointer;
    padding: 1.5rem;
    text-decoration: none;
    color: #ecf0f1;
    background-color: #2c3e50;
    border-radius: .5rem;
    border: none;
    transition: .3s ease;
}

footer button:hover{
    background-color: #4e6d8d;
    transition: .3s ease;
}